html {
    box-sizing: border-box;
}
  /* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}
  /* resets font size to be 62.5% of the user preference - 
       in most browser configurations this will be 10px */
:root {
      font-size: 62.5%;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    --button-input-border: 6px solid #282828;
    --button-input-bg: white;
    --button-input-color: #282828;
}

body.light {
    background-color: white;
    --button-input-border: 6px solid lightgray;
    --button-input-bg: #282828;
    --button-input-color: lightgray;
}

button, input {
    border: var(--button-input-border);
    background-color: var(--button-input-bg);
    color: var(--button-input-color)
}

.operator {
    border-radius: 25%;
    height: 10vmin;
    width: 10vmin;
    font-size: 5vmin;
    text-align: center;
}

.math-input {
    border-radius: 10px;
    height: 10vmin;
    width: 20vmin;
    text-align: center;
    font-size: 5vmin;
    padding: 0;
    margin: 0 20px;
}

#math-result {
    font-size: 10vmin;
    margin-bottom: 15vh;
    font-weight: 600;
}

#reset, #light-dark-button {
    border-radius: 10px;
    height: 7vmin;
    width: 20vmin;
    text-align: center;
    font-size: 2.8vmin;
    padding: 0;
    margin: 10px;
}

#fizzbuzz {
    font-size: 20px;
}